body{background-color: white;}
p {font-size: 1.5em; text-align: justify; font-family: Arial, Helvetica, sans-serif;}
h1{font-size: 2.5em; font-family: Arial, Helvetica, sans-serif; background-color: orange; text-align: center; }
h2{font-size: 2.2em; font-family: Arial, Helvetica, sans-serif; background-color: yellow; text-align: center; }
li li{font-size: 1em;}
tr{font-size: 1.7em;}
ul{
    border: 1px solid;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    float: right;
    margin-top: 0em;

}



nav ul {
    list-style: none;
    width: 10em;
    border: 1px solid;
    background-color: silver;
}

nav li {
    margin: 0.5em;
    border: 1px solid;
    background-color: gray;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: midnightblue;
}
nav {
    font-size: 1em;
    text-align: left;
    margin: 1em;
    border: 1px solid;
    padding: 1em;
    background-color: midnightblue;
    word-spacing: 5em;
}

nav a:focus,
nav a:hover,
nav a:active {
    text-decoration: underline;
}

img {
    margin-left: 10em;
    margin-right: 35em;
}

table,th,td {
    border: 1px solid;
}

#text p {
    font-size: 0.8em;
}

h4 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

li{
    text-align: left;
    font-size: small;
    list-style: none;
    margin-left: 10em;
}
header {
    border: 1px solid;
}

section {
    border: 1px solid;
}

aside {
    border: 1px solid;
}

footer {
    border: 1px solid;
}