body{
    background: linear-gradient(to bottom,#324152,white ) no-repeat center center fixed;
    background-size: cover;
}
.Titelbild{
  margin-top: 0px;
  margin-left: 0px;
}
.bild{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fußzeile{
  text-align: center;
  height: 2em;
}
.inhalt{
  padding-top: 30px;
  padding-bottom: 30px;
}

