.fußzeile{
  text-align: center;
  height: 2em;
  word-spacing: 10px;
}
.inhalt{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.2em;
}
.abstand{
  padding: 20px;
}
.kontakt{
  padding: 0px 30px;
}
.bildzeile{
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: -99;
}
.bildschrift{
  position: absolute;
  left: 0px;
  top: 30%;
  width: 100%;
  text-align: center;
  
}
.bildschrift h1 {
  color: white;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  position: sticky;
  top: 0;
}
.container-inhalt{
  max-width: 1280px;
}
.card-height{
  height: 100%;
}
.padding-navigationsleiste{
  padding: 0.5em 1em;
}
@media (min-width: 992px){
.padding-navigationsleiste{
padding: 0.5em 20%;
  }
}
.bild-link:hover{
  cursor: pointer;
}
.card-ml{
  margin-left: 20px;
  margin-right:auto;
}
.card-mr{
  margin-right: 20px;
  margin-left: auto;
}
.img-height{
  max-height: 131px;
}
@media screen and (max-width: 767px){
  .img-height{
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-standort{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schrift-zentrieren{
    text-align: center;
  }
}
.mindest-höhe{
  min-height: 440px;
}
